name: Lint Code (Ty)

on: push

permissions:
  contents: write

defaults:
  run:
    working-directory: ./

jobs:
  code-linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.9"

      - name: Install Dependencies
        run: uv sync --group dev --frozen

      - name: Run Ty
        run: uv run ty check
