name: Release to Github

on:
  push:
    branches:
      - master

permissions:
  contents: write

defaults:
  run:
    working-directory: ./

jobs:
  publish-package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.9"

      - name: Install Dependencies
        run: uv sync --group dev --frozen

      - name: Run semantic-release
        uses: mridang/action-semantic-release@v2.2.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
